class {
  onMount() {
    console.log('Mounted users list')
  }
}

<h2>User List</h2>
<ul>
  <li><a href="users/234">John</a></li>
  <li><a href="users/451">Bob</a></li>
  <li><a href="users/986">Jane</a></li>
  <li><a href="users/foo">foo</a></li>
</ul>
