style {
  main {
    background: lightcyan;
  }
}

class {
  onMount() {
    console.log('mounted home!')
  }
}

<main>
  <h1>Home!!</h1>
  <!-- <ebay-menu text="Sort" type="radio">
    <@item>Price</@item>
    <@item>Time</@item>
    <@item>Distance</@item>
</ebay-menu> -->
</main>