<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta
      name="description"
      content="An example application showcasing Vite & Marko."
    >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero Config</title>
  </head>
  <body>
    <${input.renderBody} />
  </body>
</html>